
body {	

    font-family: 'Oswald', sans-serif;
    color: #84c754;
    margin: 0;
}

#bodyDiv{
    background-color: #001cb800;
}

a{
    color: goldenrod;
    text-decoration: none; 
}

a:hover{
    color: #84c754;
    background-color: transparent;
    font-style: bold;
}

ul {		
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

ul li {
    float: left;  	
    padding: 10px;	
    font-size: 120%;
    color: #282a35e5;
}

#headerDiv{
    background-color: #282a35f8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(204, 204, 204, 0.596);
    justify-content: space-between;
    display: flex;
    height: 5em;
    border-radius: 0 0 10px 10px;
}
#headerDiv:hover{
    background-color: white;
}

#headerName{
    margin-left: 1em;
}

#navBar{
    padding-top: 1em;
}

#navBar li{
    /*  */
    color: goldenrod;
    
}

#spaceHeaderRight{
    padding: 5%;
}

#homeDiv{
    height: 40em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 5em;
    background-image: url("flutterBackground.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#innerHomeDiv{
    display: flex;
    margin-top: -0.5em;
    background-image: linear-gradient(to left, #282a35cb , #282a35);
    height: 40em;
    padding: 10em 5em 5em 5em;
}

#storyDiv{
    height: 70%;
    padding-top: 2em;
    width: 70%;
    background-image: linear-gradient(to top, rgba(218, 165, 32, 0.699) , rgb(218, 165, 32));
    border-radius: 20px;
}

#heroDiv{
    width: 30%;
    padding:1em;
    width: 30%;
}


.homeTitle{
    font-family: 'Bruno Ace SC', cursive;
    color: goldenrod;
    font-size:5em;
    margin: 2em 0 0 0;
}

#animProfessions{
    color: white;
}

#homeDivP{
    font-size: 1.2em;
    margin: 1em 10% 0 10%;
    color: #282a35e5;
    border-top: 2% solid #282a35e5;
}

#homeDivH{
    color: #282a35e5;
    font-weight: 900;
}

#expertiseDiv{
    padding-top: 1em;
    height: 40em;
    background-color: goldenrod;
    color: white;
    text-align: center;
}

#expertiseHeading{
    font-size:3em;
}

#blockHolder{
    display: flex;
    justify-content: center;
}

.blockHedaing{
    margin: 5px;
}

.blockDiv{
    margin: 0 2em 0 2em;
    width: 20%;
    height: 15em;
    color: #282a35e5;
    border-top: 2px solid #282a35e5;
}

#myLanguagesHr{
    border-width: 0;
    margin-top: 10em;
}

#languesDiv{
    display: flex;
    justify-content: center;
    padding: 0 2em 0 2em;
}

.language{
    font-family: 'Sigmar', cursive;
    color: #282a35e5;
    padding: 0 3em 0 3em;
}

#contactDiv{
    display: flex;
    justify-content: center;
}

.icons{
    padding: 1em;
}
